@page
@model CoreWebApp.Pages.DemoModel
@{
}
<table>
    <tr>
        <td>Welcome To Razor Page</td>
    </tr>
    <tr>
        <td>Getting Data on get Event</td>
        <td>@Model.Message</td>
    </tr>
</table>
